{% extends "::base.html.twig"%}
{% block title " Error "~status_code  %}
    {% block body %}
        {% include 'HomeBundle::_header.html.twig' %}
        <!-- Breadcrumb -->
        <div class="container">
        </div>
        <!-- end Breadcrumb -->
        <div id="page-content">
            <div class="container">
                <div class="row">
                    <section>
                        <h1>Oops! An Error Occurred</h1>
                    </section>
                    <section>
                        <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>
                    </section>
                    {% if app.user %}
                        <h2>Go Back to:</h2>
                        {%for number in [112,106,108,141,142,244] %}
                            <a class="btn btn-small btn-color-grey-dark btn-framed" href="{{ path('uglab_home_default_lab',{'classNr':number}) }}"> Physics {{number}}</a>
                        {% endfor%}
                    {% else %}
                        <a class="btn btn-btn-large" href="{{path('mnm_bluestem_login')}}">Login to access Labs Workbooks</a>
                    {% endif %}<br>
                    <a class="read-more" href="{{path('uglab_home_default_index')}}">Back to The Homepage</a>
                </div>
            </div>
        </div>
        {% include 'HomeBundle::_footer.html.twig' %}
    {% endblock %}
