{%extends "HomeBundle::layout.html.twig"%}
{% block container %}
    <!-- Page Content -->
    <!--MAIN Content-->
    <div class="col-md-9" style="min-height: 1001px;">
        <div id="page-main">
            {% if app.user %}
                <article>
                    <h2>Click the button below to visit the respective lab section</h2>
                </article>
                {%for class in labClasses %}
                    <a class="btn btn-small btn-color-grey-dark btn-framed" href="{{ path('uglab_home_default_lab',{'classNr':class.number}) }}"> {{class.name}}</a>
                {% endfor%}
            {% else %}
                <a class="btn btn-btn-large" href="{{path('mnm_bluestem_login')}}">Login to access Labs Workbooks</a>
            {% endif %}

            {% if app.user and is_granted('ROLE_STAFF_ADMIN') %}
                
                    <h2>Lab Experiment Schedule</h2>
                
                <section>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="header header-logo"></th>
                                    {%for class in labClasses %}
                                    <th class="lenght header"> {{class.name}}</th>
                                    {% endfor%}
                            </tr>
                        </thead>
                        <tbody>
                            {% for week in weeks%}
                                <tr>
                                    <th>Week {{week.id}}
                                        {{week.startDate|date("m/d")}}
                                    </th>
                                    {%for assignment in week.assignments %}
                                        {% if assignment.isPublished %}
                                            <th {% if assignment.description is empty %}style="background: #f1f1f1" {%endif%} >{{assignment.name}} {{assignment.description}}</th>
                                            {%endif%}
                                        {% endfor %}
                                </tr>
                            {% endfor %}
                        <tbody>
                    </table>
                </section>
            {% endif %}   
        </div>
    </div>
    {% include 'HomeBundle::_rightbar.html.twig' %}
{% endblock %}
