{%extends "HomeBundle::layout.html.twig"%}
{% block container %}

    <div class="col-md-8" style="min-height: 1001px;">
        {% if app.user and  app.request.get('classNr') in [108, 244]   %}
           Go over the Radiation Safety Physics Lecture >> 
           <a class="btn btn-framed btn-color-primary " href={{asset("./uploads/labs/RadSafetyLecture.ppt")}}>
                <i class="fa fa-file-powerpoint-o fa-3x"></i></a>      &nbsp;   and complete the  &nbsp;   
            <a  class="btn btn-btn-large " href="{{-path('mnm_quiz_safety', { 'classNr' : app.request.get('classNr') })-}}" >Lab Safety Test</a>
        {% endif %}
        <div id="page-main">
            {% for type in fileType %}
                <section>
                    <header><h2>{{-type.name-}}</h2><br></header>
                            {{-type.description-}}
                    <div class="table-responsive">
                        <table class="table table-hover  course-list-table tablesorter">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                        {% if type.categories is defined %}
                                            {% for cat in type.categories %}
                                            <th><b>{{-cat.name-}}</b></th>
                                {% endfor%}<br>
                            {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                                {% if type.assignments is defined %}
                                    {% for ass in type.assignments %}
                                        {% if ass.isPublished %}
                                            <tr table-bordered>
                                                <th><b>{{-ass.name-}}</b><br>
                                                        {{-ass.description-}}
                                                </th>

                                                {% for file in ass.files %}

                                                    {% if ass.files|length ==1 %}{#this one is for the lab files not used here#}
                                                        <th colspan='3'><a class="btn btn-framed" href="{{asset(type.path ~ file.fileName|url_encode(true))}}">
                                                                <i class="fa fa-file-pdf-o fa-3x"></i>
                                                            </a>
                                                            {% if file.description%}&nbsp; <span class="fa fa-print">&nbsp;{{-file.description-}}</span>{% endif%}
                                                        </th>{%elseif file.fileName is not null %}
                                                        <th><a class="btn btn-framed " href="{{asset(type.path ~ file.fileName|url_encode(true))}}">
                                                                <i class="fa fa-file-pdf-o fa-3x"></i></a> </th>
                                                    {%else %}  <th></th>
                                                        {%endif%}
                                                    {% endfor %} 
                                            </tr>
                                        {%endif%}
                                    {% endfor %}  
                                {% endif %}
                                {# if app.user and is_granted('ROLE_STAFF_ADMIN') %}
                                    <tr table-bordered>
                                        <th>  <a  class="btn btn-framed btn-xs btn-color-grey-dark" href="{{ path('settings_assignments_new',{'type_id':type.id}) }}"><i class="fa fa-plus"></i> Add Assignment</a></th>
                                            {% for cat in type.categories %}
                                            <th>
                                                <a class="btn btn-framed btn-xs btn-color-grey-dark" href="{{ path('settings_files_new',{'type_id':type.id,'ass_id':1,'cat_id':cat.id}) }}"> <i class="fa fa-plus"></i> Add {{ cat.name}}</a>
                                                <b></b>
                                            </th>
                                        {% endfor%}

                                    </tr>
                                {%endif#}
                            </tbody>
                        </table>
                    </div>
                </section>
            {%endfor%}
        </div>
    </div>
    {% if crnList is defined%}
        {% include 'HomeBundle::_taListCrn.html.twig' %}
    {% else %}
        {% include 'HomeBundle::_taListClass.html.twig' %}
    {% endif%}
{% endblock %}
