{% extends "MnmGradingBundle::layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
     'bundles/mnmgrading/css/jquery.handsontable.full.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block container %}

    <section id="course-tabs">
        <figure>{#            AJAX call to /mongoauthorize#}
            <span><button name="authorize"        class="btn btn-small">Authorize Users</button></span>
            {#            <label class="">#}
            {#                <input type="checkbox" name="autosave" checked="checked" autocomplete="off">Autosave#}
            {#            </label>#}
            <span><button name="gethwscores"        class="btn btn-small">Get HW Scores</button></span>

        </figure>


        <pre id="example1console" class="console">Click "Load" to load data from server</pre>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs course-detail-tabs">
            <li class="active"><a href="#tab-a" data-toggle="tab" name="roster">Roster</a></li>
            <li><a href="#tab-b" data-toggle="tab" name="load-Homework-score">Homework</a></li>
            <li><a href="#tab-c" data-toggle="tab" name="load-Disc-score">Disc</a></li>
            <li><a href="#tab-d" data-toggle="tab" name="load-Labs-score">Labs</a></li>
                {#            <li><a href="#tab-e" data-toggle="tab" name="load-Exams-score">Exams</a></li>#}
        </ul><!-- /.course-detail-tabs -->
        <br>

        <div id="example1" class="handsontable"></div>
    </section><!-- /#course-tabs -->


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts 
'@MnmGradingBundle/Resources/public/js/jquery.handsontable.full.js'
'@HomeBundle/Resources/public/js/table.js'
    %}
    <script type="text/javascript"   src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(".nav-tabs .active a").click();
    </script>
{% endblock %}