<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Undergraduate Labs Homepage{% endblock %}</title>
        {% block stylesheets %}
            <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
            {#'@awesome_css'
'@bootstrap_css'#}
            {% stylesheets 

              'bundles/home/css/style.css'    
              'bundles/home/css/custom.css'            
 filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body class="page-sub-page">
        <!-- Wrapper -->
        <div class="wrapper">
        {% block body %}{% endblock %}
    </div>

    {% block javascripts %}
        {#        <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.0.min.js"></script>
                <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>#}


        {% javascripts 
   '@bootstrap_w_jquery_js'
'@HomeBundle/Resources/public/js/jquery-migrate-1.2.1.min.js' 
'@HomeBundle/Resources/public/js/selectize.min.js' 
'@HomeBundle/Resources/public/js/jquery.validate.min.js' 
'@HomeBundle/Resources/public/js/icheck.min.js' 
'@HomeBundle/Resources/public/js/countdown.js' 
'@HomeBundle/Resources/public/js/jquery.vanillabox-0.1.5.min.js' 
'@HomeBundle/Resources/public/js/retina-1.1.0.min.js' 
'@HomeBundle/Resources/public/js/custom.js' 
        %}
        <script type="text/javascript"   src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script type="text/javascript">

        </script>
    {% endblock %}
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', '{{ ga_tracking }}', 'auto');
        ga('send', 'pageview');

    </script>

</body>
</html>
