
<!-- Footer -->
<footer id="page-footer">
    <section id="footer-top">
        <div class="container">
            <div class="footer-inner">

                {#                <div class="footer-social">
                                    <figure>Follow us:</figure>
                                    <div class="icons">
                                        <a href=""><i class="fa fa-twitter"></i></a>
                                        <a href=""><i class="fa fa-facebook"></i></a>
                                        <a href=""><i class="fa fa-pinterest"></i></a>
                                        <a href=""><i class="fa fa-youtube-play"></i></a>
                                    </div><!-- /.icons -->
                                </div><!-- /.social -->
                                <div class="search pull-right">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search">
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                                        </span>
                                    </div><!-- /input-group -->
                                </div><!-- /.pull-right -->#}
            </div><!-- /.footer-inner -->
        </div><!-- /.container -->
    </section><!-- /#footer-top -->

    <section id="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <aside class="logo">
                        {% image '@HomeBundle/Resources/public/img/uic-small.png' %}
                        <img src="{{ asset_url }}"  alt="logo-white"   class="vertical-center"/>
                        {% endimage %}
                    </aside>
                </div><!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-4">
                    <aside>
                        <h4>Coordinator</h4>
                        <address>
                            <strong> Serguei Kouznetsov</strong>
                            <br>
                           Labs Coordinator
                            <br>
                            <abbr title="Email">Email:</abbr><a href="mailto:skouznet@uic.edu?Subject=Uglab ">skouznet@uic.edu</a>
                            <br>
                             Office: SES 3136
                        </address>



                    </aside>
                </div><!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-4">
                    <aside>
                        <h4>Course Links</h4>
                        <ul class="list-links">
                            <li style="margin-top: -9px;"><a href="{{path('uglab_home_default_index')}}">Home</a></li>
                        {#    <li style="margin-top: -9px;"><a href="{{path('home_disc')}}">Discussions</a></li>
                            <li style="margin-top: -9px;"><a href="{{path('home_labs')}}">Labs</a></li>#}
                            <li style="margin-top: -9px;"><a href="{{path('fos_user_security_login')}}">Login</a></li>
                        </ul>
                    </aside>
                </div><!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-4">
                    <aside>
                        <h4> {{-'footer.leftText.title'|trans-}}</h4>
                        <p> {{-'footer.leftText.purpose'|trans-}}</p>
                    </aside>
                </div><!-- /.col-md-3 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
        <div class="background">
            {% image '@HomeBundle/Resources/public/img/background-city.png' %}
            <img src="{{ asset_url }}"  alt="background1" />
            {% endimage %}
        </div>
    </section><!-- /#footer-content -->

    <section id="footer-bottom">
        <div class="container">
            <div class="footer-inner">
                <div class="copyright">©<a href="http://{{-'footer.url'|trans-}}">{{-'footer.url'|trans-}}</a></div><!-- /.copyright -->
            </div><!-- /.footer-inner -->
        </div><!-- /.container -->
    </section><!-- /#footer-bottom -->

</footer>
<!-- end Footer -->
