<div class="navigation-wrapper">
    <div class="secondary-navigation-wrapper">
        <div class="container">
            <div class="navigation-contact pull-left" >{{- 'header.title'|trans -}}</div>
            <ul class="secondary-navigation list-unstyled pull-right">
                {% if  app.user and is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {% if  app.user and is_granted('ROLE_STAFF_ADMIN') %}
                        <li>
                            <i class="fa fa-list-alt"></i>
                            <a href="{{path('uglab_home_default_index')}}">Schedule</a>
                        </li>
                        <li>
                            <i class="fa fa-th-large"></i>
                            <a href="{{path('mnm_grading_table',{classNr:141})}}">HW Scores</a>
                        </li>
                        {% if  app.user.username in ["mmihay2","skouznet"] %}
                            <li>
                                <i class="fa fa-book"></i>
                                <a href="{{path('mnm_grading_safety_quiz_list',{classNr:244})}}">Rad Safety List</a>
                            </li>
                        {%endif%}
                    {%endif%}
                    {#if  app.user and is_granted('ROLE_STAFF') %}
                        <li>
                            <i class="fa fa-table"></i>
                            <a href="{{path('mnm_grading_grading')}}">Grading</a>
                        </li>
                    {%endif#}
                    <li> <a class="link"  href="{{ path('fos_user_security_logout') }}">
                            <i class="fa fa-power-off"></i>Logout {{ app.user.firstname }}</a></li>
                        {% else %}
                    <li class="active"> <a class="link" href="{{ path('mnm_bluestem_login') }}"><i class="fa fa-user"></i>Login</a></li>
                    {% endif %}
            </ul>
        </div>
    </div><!-- /.secondary-navigation -->
    <div class="primary-navigation-wrapper">
        <header class="navbar" id="top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand nav" id="brand">
                        {% image '@HomeBundle/Resources/public/img/uic-phys.png' %}
                        <img src="{{-asset_url-}}"  alt="logo" />
                        {% endimage %}
                    </div>
                </div>
                <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                    <ul class="nav navbar-nav">
                        {% if app.request.get('classNr') is not null  %}
                            <li class="{% if app.request.attributes.get('_route') == "uglab_home_default_lab" %}active{% endif %}">
                                <a href="{{ path('uglab_home_default_lab',{'classNr': app.request.get('classNr')}) }}" >Home</a>
                            </li>
                        {% endif %}
                        {% if app.user and  app.request.get('classNr') ==141   %}
                            <li class="{% if app.request.attributes.get('_route') == "mnm_quiz_index" %}active{% endif %}">
                                <a  href="{{-path('mnm_quiz_index', { 'classNr' : 141 })-}}" >Homework</a>
                            </li>
                        {% endif %}
                        {% if app.user and  app.request.get('classNr') in [108,244]   %}
                            <li class="{% if app.request.attributes.get('_route') == "mnm_quiz_index" %}active{% endif %}">
                                <a  href="{{-path('mnm_quiz_safety', { 'classNr' : app.request.get('classNr') })-}}" >Safety Test</a>
                            </li>
                        {% endif %}
                        {# if  app.user and is_granted('ROLE_STUDENT') %}
                            <li class="{% if app.request.attributes.get('_route') == "mnm_grading_scores" %}active{% endif %}">
                                <a  href="{{-path('mnm_grading_scores')-}}">Scores</a>
                            </li>
                        {% endif #}

                    </ul>
                </nav><!-- /.navbar collapse-->
            </div><!-- /.container -->
        </header><!-- /.navbar -->
    </div><!-- /.primary-navigation -->
    <div class="background">
        {% image '@HomeBundle/Resources/public/img/background-city.png' %}
        <img src="{{ asset_url }}"  alt="background" />
        {% endimage %}

    </div>
</div>
