<div class="col-md-3" style="min-height: 1060px;">
    <div id="page-sidebar" class="sidebar">
        <aside id="our-professors">
            <div class="section-content">
                <div class="professors">
                    {% for section in groups%}
                        <header>
                            <h2>{{section.name}}</h2>
                        </header>
                        {% for person in section.people%}
                            <article class="professor-thumbnail">
                                <figure class="professor-image">
                                    <img src="{{asset('bundles/home/img/people/'~person.pictureUrl) }}"  alt="{{person.firstName~' picture'}}" />
                                </figure>
                                <aside>
                                    <header>
                                        {{person.firstName}} {{person.lastName}}
                                        <div class="divider"></div>
                                        {#                  <figure class="professor-description">
                                                              <span class="course-summary"><i class="fa fa-map-marker"></i> {{person.teachLoc}} </span>
                                                              <span class="course-summary"><i class="fa fa-clock-o"></i> {{person.teachTime}}</span>
                                                          </figure>#}
                                        <figure class="professor-description">
                                            <span class="course-summary"><i class="fa fa-question-circle"></i> {{person.office}} </span>
                                            <br>
                                            {#                                            {% if person.officeHrs is not empty %}#}
                                            {#                                                <span class="course-summary"><i class="fa fa-clock-o"></i> {{person.officeHrs}}</span>#}
                                            {#                                            {% endif %}#}
                                            <span class="course-summary"><i class="fa fa-envelope"></i></span>
                                        </figure>
                                    </header>

                                    <abbr title="Email">Email:</abbr> <a href="mailto:{{person.email}}?Subject={{ 'header.subject'|trans|url_encode(true) }} uglab">{{person.email}}</a>
                                </aside>
                            </article><!-- /.professor-thumbnail -->
                        {% endfor %}
                    {% endfor %}
                    {#                    <p>All Labs in SEL 2280 except Exp 2 SEL2281</p>#}
                    {#                    <a href="#" class="read-more">Contact Details</a>#}
                </div><!-- /.professors -->
            </div><!-- /.section-content -->
        </aside><!-- /.our-professors -->
    </div><!-- /#sidebar -->
</div>{# empty Twig template #}
