<div class="col-md-4" style="min-height: 1060px;">
    <div id="page-sidebar" class="sidebar">
        <aside id="our-professors">
            <div class="section-content">
                <div class="professors">
                    <header>
                        <h2>Lab TA List</h2>
                    </header>
                    {% for person in talist%}
                        <article class="professor-thumbnail">
                            <figure class="professor-image">
                                <img src="{{asset('bundles/home/img/people/'~person.pictureUrl) }}"  alt="{{person.firstName~' picture'}}" />
                            </figure>
                            <aside>
                                <header>
                                    {{person.firstName}} {{person.lastName}}
                                    <div class="divider"></div>
                                    {#        <figure class="professor-description">
                                                <span class="course-summary"><i class="fa fa-map-marker"></i> {{person.teachLoc}} </span>
                                                <span class="course-summary"><i class="fa fa-clock-o"></i> {{person.teachTime}}</span>
                                            </figure>#}
                                    <figure class="professor-description">
                                        <span class="course-summary"><i class="fa fa-question-circle"></i> {{person.office}} </span>
                                        {% if person.officeHrs is not empty %}
                                            <span class="course-summary"><i class="fa fa-clock-o"></i> {{person.officeHrs}}</span>
                                        {% endif %}
                                    </figure>
                                </header>
                                <abbr title="Email">Email:</abbr> <a href="mailto:{{person.email}}?Subject={{- 'header.subject'|trans|url_encode(true) -}}">{{person.email}}</a>
                            </aside><br>
                        </article><!-- /.professor-thumbnail -->
                    {% endfor %}
                </div><!-- /.professors -->
            </div><!-- /.section-content -->
        </aside><!-- /.our-professors -->
    </div><!-- /#sidebar -->
</div>{# empty Twig template #}