<div class="col-md-4" style="min-height: 1060px;">
    <div id="page-sidebar" class="sidebar">
        <aside id="our-professors">
            <div class="section-content">
                <div class="professors">
                    <header>
                        <h2>Lab TA List</h2>
                    </header>
                    {%set week=['Mon','Tue','Wed','Thu','Fri']%}
                    {% for crn in crnList%}
                        {% if crn.people|length >0%}
                            {% set person=crn.people[0]%}
                        {%else%}{#just publish the crn times#}
                            {% set person={'firstName':"N/A",'lastName':null,'pictureUrl':'professor.jpg','office':null,'officeHrs':null,email:''}%}
                        {%endif%}
                        <article class="professor-thumbnail">
                            <figure class="professor-image">
                                <img src="{{asset('bundles/home/img/people/'~person.pictureUrl) }}"  alt="{{person.firstName~' picture'}}" />
                            </figure>
                            <aside>
                                <header>
                                    {{person.firstName}} {{person.lastName}}
                                    <div class="divider"></div>
                                    <figure class="professor-description">
                                        <span class="course-summary"><i class="fa fa-map-marker"></i> {{crn.teachLoc}} </span>
                                        <span class="course-summary"><i class="fa fa-clock-o"></i>  {{week[crn.weekday ]}} {{crn.startTime|date("h:i")}}-{{crn.endTime|date("h:i")}}</span>
                                    </figure>
                                    <figure class="professor-description">
                                        <span class="course-summary"><i class="fa fa-question-circle"></i> {{person.office}} </span>
                                        {% if person.officeHrs is not empty %}
                                            <span class="course-summary"><i class="fa fa-clock-o"></i> {{person.officeHrs}}</span>
                                        {% endif %}
                                    </figure>
                                </header>
                                <abbr title="Email">Email:</abbr> <a href="mailto:{{person.email}}?Subject={{- 'header.subject' |trans ~' '~classNr|url_encode(true) -}}">{{person.email}}</a>
                            </aside>
                        </article><!-- /.professor-thumbnail -->
                    {% endfor %}
                </div><!-- /.professors -->
            </div><!-- /.section-content -->
        </aside><!-- /.our-professors -->
    </div><!-- /#sidebar -->
</div>{# empty Twig template #}
