{% extends "::base.html.twig"%}
{% block body %}
    {% include 'HomeBundle::_header.html.twig' %}
    <!-- Breadcrumb -->
    <div class="container">
        <ol class="breadcrumb">
   {#         <li><a href="#">Home</a></li>
            <li class="active">Page</li>#}
        </ol>
    </div>
    <!-- end Breadcrumb -->
    <div id="page-content">
        <div class="container">
            <div class="row">
            {% block container %}{% endblock %}
     
        </div>
    </div>
</div>
{% include 'HomeBundle::_footer.html.twig' %}
{% endblock %}
