.course-schedule ul li {
    padding: 0px;

}
.course-schedule ul{
    margin-bottom: -10px;
}
ul li h5 {
    margin-bottom:0px;
}


.course-list-table tbody tr th i{
    width: auto !important
}

.row h1{ height: 50px }

.divider {margin: 3px 0;}